<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div style="margin-left: 15px">
        <a href="https://www.upenn.edu/">
          <img src="assets/img/penn_logo.jpg" width=240 />
        </a>
        <p></p>
        <p style="font-size: 10pt">Looking for the old site? Click <a href="https://alliance.seas.upenn.edu/~nlp/cgi-bin/">here</a>.</p>
      </div>
    </div>
  </div>
</footer>
