<div>
  {% if include.title == "Mini Talks" %}
    <img src="{{ include.img }}" width="510" height="170" />
  {% elsif include.img != null %}
    <img src="{{ include.img }}" width="170" height="170" />
  {% endif %}
  <p style="margin-bottom: 0px; font-size: 15pt">
    {% if include.url != null %}
      <a href="{{ include.url }}">{{ include.speaker }}</a>
    {% else %}
      {{ include.speaker }}
    {% endif %}
  </p>
  {% if include.affiliation != null %}
    <p style="margin-bottom: 0px">{{ include.affiliation }}</p>
  {% endif %}
  <p style="margin-bottom: 10px">{{ include.date }}</p>
  <p style="margin-bottom: 0px; font-size: 13pt; font-weight: 600">{{ include.title }}</p>
  <p>{{ include.abstract }}</p>
  {% if include.abstract %}
  <hr />
  {% endif %}
  <p></p>
</div>
